body {
    margin: 0;
    background-color: #26292f !important;
    color: white !important;
}

a {
    color: white !important;
    text-decoration: none !important;
}

input,
.input-group-text,
.card {
    background-color: #1b1e22 !important;
    border: none !important;
    box-shadow: 0px 1px 3px #1b1e22;
}

input,
.nav-link {
    color: #d2d2d2 !important;
}

button:disabled {
    cursor: not-allowed;
}

.navbar {
    background-color: #1b1e22;
}

.nav-link-active {
    color: #68b684 !important;
}

.alert-danger {
    background-color: #eb4646 !important;
    color: white !important;
    border: none !important;
}

.dropdown-menu {
    background-color: #1b1e22 !important;
}

.dropdown-item:hover {
    background-color: #26292f !important;
}

.leaflet-container {
    height: 600px;
    width: 80%;
    margin: 0 auto;
}

.leaflet-div-icon {
    background: transparent !important;
    border: none !important;
}

.selected {
    color: blue;
}

.redirect {
    color: #68b684 !important;
}

.subtitle {
    color: #d2d2d2 !important;
}

svg:hover {
    cursor: pointer;
}

.btn-primary {
    background-color: #68b684 !important;
    border: none !important;
    padding: 0.5rem 1.25rem !important;
}

.dark-back {
    background-color: #1b1e22 !important;
    margin-bottom: 20px;
    margin-top: 20px;
}

.btn-dark {
    background-color: #1b1e22 !important;
    border: none !important;
    padding: 0.5rem 1.25rem !important;
}

.danger {
    color: #eb4646 !important;
}

.priority {
    font-weight: bold;
}

.div-color {
    height: 80px;
    width: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 20px;
    margin-top: 20px;
}

.div-createcolor {
    display: flex;
}
