body {
    margin: 0;
    background-color: #26292f !important;
    color: white !important;
}

a {
    color: white !important;
    text-decoration: none !important;
}

input,
select,
.input-group-text,
.card {
    background-color: #1b1e22 !important;
    border: none !important;
    box-shadow: 0px 1px 3px #1b1e22;
}

input,
label,
.nav-link {
    color: #d2d2d2 !important;
}

option:hover {
    background-color: #1b1e22 !important;
    border: none !important;
}

.radio-buttons-wrapper {
    position: relative;
    padding-left: 30px;
    cursor: pointer;
}

.radio-buttons-wrapper input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: #1b1e22;
    border-radius: 50%;
}

.radio-buttons-wrapper input:checked ~ .checkmark {
    background-color: #68b684;
}

.checkmark:after {
    content: '';
    position: absolute;
    display: none;
}

.radio-buttons-wrapper input:checked ~ .checkmark:after {
    display: block;
}

/* Style the indicator (dot/circle) */
.radio-buttons-wrapper .checkmark:after {
    top: 7px;
    left: 6px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: white;
}

.navbar {
    background-color: #1b1e22;
}

.navbar-brand {
    font-weight: 700;
}

.nav-link-active {
    color: #68b684 !important;
}

.alert-danger {
    background-color: #eb4646 !important;
    color: white !important;
    border: none !important;
}

.dropdown-menu {
    background-color: #1b1e22 !important;
}

.dropdown-item:hover {
    background-color: #26292f !important;
}

.leaflet-container {
    height: calc(100vh - 4rem);
    width: 100%;
}

.leaflet-control-zoom,
.leaflet-control-attribution {
    display: none;
}

.map-container {
    width: 100%;
    position: relative;
    overflow-x: hidden;
}

.map-menu {
    position: absolute;
    z-index: 998;
    width: 33%;
    height: calc(100vh - 4rem);
    background-color: #26292f;
    transition: all 0.3s ease;
}

.map-menu-closed {
    right: -33%;
}

.map-menu-open {
    right: 0;
}

.map-menu-closed + .map-menu-angle {
    right: 0px;
}

.map-menu-open + .map-menu-angle {
    right: 33%;
}

.map-menu-angle {
    position: absolute;
    z-index: 999;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    background-color: #26292f;
    padding: 0.5rem 1rem;
    cursor: pointer;
    transition: all 0.3s ease;
}

.actions-item {
    background-color: #1b1e22;
    padding: 0.75rem 1.25rem !important;
    border-radius: 4px;
    box-shadow: 0px 1px 3px #1b1e22;
    cursor: pointer;
}

.actions-item-selected {
    background-color: #68b684;
}

.pointer {
    cursor: pointer;
}

.leaflet-div-icon {
    background: transparent !important;
    border: none !important;
}

.selected {
    color: blue;
}

.redirect {
    color: #68b684 !important;
}

.subtitle {
    color: #d2d2d2 !important;
    font-weight: 400 !important;
}

svg {
    cursor: pointer;
}

.config-menu-item-disabled svg {
    cursor: not-allowed;
}

.btn-primary {
    background-color: #68b684 !important;
    border: none !important;
    padding: 0.5rem 1.25rem !important;
}

.dark-back {
    background-color: #1b1e22 !important;
    margin-bottom: 20px;
    margin-top: 20px;
}

.btn-dark {
    background-color: #1b1e22 !important;
    border: none !important;
    padding: 0.5rem 1.25rem !important;
}

.danger {
    color: #eb4646 !important;
}

.priority {
    font-weight: bold;
}

.div-color {
    height: 70px;
    width: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 20px;
    margin-top: 10px;
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: 0px 1px 3px #1b1e22;
}

.div-createcolor {
    display: flex;
}

.config-menu-item {
    background-color: #1b1e22;
    padding: 1rem 1rem !important;
    border-radius: 50%;
    cursor: pointer;
}

.config-menu-item-active {
    background-color: #68b684;
}

.config-menu-item-disabled {
    background-color: #999999;
    cursor: not-allowed;
}

.config-menu-item-separator {
    background-color: #1b1e22;
    border: none !important;
    height: 2px !important;
}

.config-menu-item-separator-disabled {
    background-color: #999999;
}
