body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #26292f !important;
    color: white !important;
}

.leaflet-container {
    height: 600px;
    width: 80%;
    margin: 0 auto;
}

.leaflet-div-icon {
    background: transparent !important;
    border: none !important;
}

.selected {
    color: blue;
}

.redirect {
    color: #68b684 !important;
}

.subtitle {
    color: #d2d2d2 !important;
}

.btn-auth {
    background-color: #68b684 !important;
}

.dark-back {
    background-color: #1b1e22 !important;
    margin-bottom: 20px;
    margin-top: 20px;
}

.btn-dark {
    background-color: #1b1e22 !important;
}

.danger {
    color: #eb4646 !important;
}

.priority {
    font-weight: bold;
}
